In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB

In [3]:
df = pd.read_csv('titanic.csv')

In [4]:
df = df.drop(columns=['Name'])

In [5]:
df.head()

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,male,22.0,1,0,7.2500
1,1,1,female,38.0,1,0,71.2833
2,1,3,female,26.0,0,0,7.9250
3,1,1,female,35.0,1,0,53.1000
4,0,3,male,35.0,0,0,8.0500

In [6]:
genders = {"male": 0, "female": 1}
df['Sex'] = df['Sex'].map(genders)

In [7]:
df.head()

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,0,22.0,1,0,7.2500
1,1,1,1,38.0,1,0,71.2833
2,1,3,1,26.0,0,0,7.9250
3,1,1,1,35.0,1,0,53.1000
4,0,3,0,35.0,0,0,8.0500

In [8]:
X = df.drop(columns=['Survived'])
y = df['Survived']

In [9]:
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.2)

In [10]:
logreg = LogisticRegression()
logreg.fit(X_train, Y_train)
Y_pred = logreg.predict(X_test)
acc_log = sum(Y_pred==Y_test)/len(Y_test)
acc_log

0.7865168539325843

In [11]:
K = [i for i in range(2,100,2)]
acc_knn=[]
for k in K:
    knn = KNeighborsClassifier(n_neighbors = k) 
    knn.fit(X_train, Y_train)  
    Y_pred = knn.predict(X_test)  
    acc_knn.append(sum(Y_pred==Y_test)/len(Y_test))
max_value = max(acc_knn)
max_index = acc_knn. index(max_value)
best_k = K[max_index]
print('The best accuracy of knn is',max_value,'when k is',best_k)

The best accuracy of knn is 0.7191011235955056 when k is 8

In [12]:
gaussian = GaussianNB() 
gaussian.fit(X_train, Y_train)  
Y_pred = gaussian.predict(X_test)  
acc_gaussian = sum(Y_pred==Y_test)/len(Y_test)
acc_gaussian

0.7865168539325843